<%- include("../includes/header.ejs", {title:"List of Referees"}); %>

<h1 style="color: midnightblue">Referees</h1>

<% if(locals.was_successful) { %>
<div class="col-md-12">
    <div id="message" class="alert alert-success col-md-4">
        Referee: <%= refF %> <%= refL %> was successfully registered. %>
    </div>
</div>
<% }%>

<% if(locals.edit_successful) { %>
<div class="col-md-12">
    <div id="message" class="alert alert-success col-md-4">
        Referee: <%= refF %> <%= refL %> was successfully edited. %>
    </div>
</div>
<% }%>

<a href="/referee/add">Register Referee</a><br/><br/>
<p><a href="/referee/eachgames">Click to view the number of games each ref has and the games</a> </p>
<a href="/">Back To Homepage</a><br/>

<br/>
<p>Click on a referee to view more about them!</p>
<table border="1">
    <tr><th style="padding:5px;background-color:indigo;color: ghostwhite">Full Referee Name</th><th style="padding: 5px;background-color:indigo;color: ghostwhite">Actions</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td style="padding: 5px"><a href="/referee/?ref_id=<%= result[i].ref_id %>"><%= result[i].first_name %> <%= result[i].last_name %></a></td>
        <td style="padding: 5px">
            <button onclick="event.preventDefault();window.location.href='/referee/edit/?ref_id=<%= result[i].ref_id %>'">Edit</button>
            <form action="/referee/delete/" style="display:inline;">
                <input type="hidden" name="ref_id" id="ref_id" value="<%= result[i].ref_id %>" />
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
    <% } %>
</table>

<br/><a href="/">Back To Homepage</a>
<%- include("../includes/footer.ejs"); %>