<%- include("../includes/header.ejs", {title: "Update " + referee.first_name + ' ' + referee.last_name}); %>

<h1>Update <%= referee.first_name%>  <%= referee.last_name%></h1>

<form action="/referee/update" method="get">
    <input type="hidden" id="ref_id" name="ref_id" value="<%= referee.ref_id %>">
    First Name: <input id="first_name" name="first_name" type="text" value="<%= referee.first_name%>"/>
    <br />
    <br />
    Last Name: <input id="last_name" name="last_name" type="text" value="<%= referee.last_name%>"/>
    <br/>
    <br/>
    Age: <input id="age" name="age" type="number" min="1" value="<%= referee.age%>"/>
    <br />
    <br />

    Country: (If country not displayed, add it) <br/>
    <select id="country_id" name="country_id">
        <option value="<%= referee.country_id%>">Original Country</option>
        <% for(var i=0; countries.length > i; i++ ) { %>
        <option value="<%= countries[i].country_id %>"><%= countries[i].country_name %></option>
        <% } %>

    </select>

    <br />
    <br />

    <input type="submit" />
</form>

<br />
<br />

<a href="/referee/all">BACK TO REFEREE LIST</a>

<%- include("../includes/footer.ejs"); %>