<%- include("../includes/header.ejs", {title:"Add New Account"}); %>
<h1>Add New Account</h1>
<form action="/account/insert" method="get">
    Account - First Name: <input id="first_name" name="first_name" type="text" />
    <br />
    Account - Last Name: <input id="last_name" name="last_name" type="text" />
    <br />
    Account - Email: <input id="email" name="email" type="text" />
    <br />
    <br />
    Skills
    <select id="skill_id" name="skill_id" multiple="multiple">
        <% for(var i=0; skills.length > i; i++ ) { %>
        <option value="<%= skills[i].skill_id %>"><%= skills[i].skill_name + ': ' + skills[i].description %></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#skill_id').multiselect();
        });
    </script>
    <br />
    <br />
    Companies
    <select id="company_id" name="company_id" multiple="multiple">
        <% for(var i=0; companies.length > i; i++ ) { %>
        <option value="<%= companies[i].company_id %>"><%= companies[i].company_name %></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#company_id').multiselect();
        });
    </script>
    <br />
    <br />
    Schools
    <select id="school_id" name="school_id" multiple="multiple">
        <% for(var i=0; schools.length > i; i++ ) { %>
        <option value="<%= schools[i].school_id %>"><%= schools[i].school_name %></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#school_id').multiselect();
        });
    </script>


    <br />
    <br />
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>