<%- include("../includes/header.ejs", {title:"Pick Account"}); %>
<h1>Select an Account</h1>
<form action="/resume/add" method="get">

    <select id="account_id" name="account_id">
        <% for(var i=0; accounts.length > i; i++ ) { %>
        <option value="<%= accounts[i].account_id %>"><%= accounts[i].first_name + ' ' + accounts[i].last_name %></option>
        <% } %>
    </select>
    <br />
    <br />
    <input type="submit" />
    <br />
    <br />
    <a href="/resume/all"> << BACK TO Resume View All</a>

</form>
<%- include("../includes/footer.ejs"); %>