<%- include("./includes/header.ejs", {title: title}); %>

    <h1 style="color: midnightblue"><%= title %></h1>
    <p>Welcome to the <%= title %> homepage!</p>
    <p>What would you like to do?</p>

    <a href="/player/all">Manage Players</a><br/>
    <a href="/team/all">Manage Teams</a><br/>
    <a href="/manager/all">Manage Managers/Coaches</a><br/>
    <a href="/referee/all">Manage Referees</a><br/>
    <a href="/stadium/all">Manage Stadiums/Venues</a><br/>
    <a href="/game/all">Manage Schedule/Games</a><br/><br/>
    <a href="/country/all">List of Countries</a><br/>
    <a href="/about">About WSL</a>
    <br/>

<%- include("./includes/footer.ejs"); %>
