<%- include("../includes/header.ejs", {title:"List of Teams"}); %>

<h1 style="color: midnightblue">Teams <img src="/images/team/hd-game-images-players-windows-apple-background-images-free-hd-sport-play-ball-3764x2509-768x512.jpg" width="750"
                                           height="250" style="border: groove;border-color: midnightblue;border-width: thick"></h1>

<% if(locals.was_successful) { %>
<div class="col-md-12">
    <div id="message" class="alert alert-success col-md-4">
        Team: <%= team %> was successfully registered. %>
    </div>
</div>
<% }%>

<% if(locals.edit_successful) { %>
<div class="col-md-12">
    <div id="message" class="alert alert-success col-md-4">
        Team: <%= team %> was successfully edited. %>
    </div>
</div>
<% }%>

<h3><a href="/team/add">Register Team</a></h3><br/>
<p><a href="/team/avgstats">Click here to view average stats of all teams</a></p>
<a href="/">Back To Homepage</a><br/>

<br/>

<p>Click on a team to view more about them!</p>

<table border="1">
    <tr><th style="padding:5px;background-color:indigo;color: ghostwhite">Team Name</th><th style="padding: 5px;background-color:indigo;color: ghostwhite">Actions</th>
        <th style="padding:5px;background-color:indigo;color: ghostwhite">Manager</th>
    </tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td style="padding: 5px"><a href="/team/?team_id=<%= result[i].team_id %>"><%= result[i].team_name %></a></td>
        <td style="padding: 5px">
            <button onclick="event.preventDefault();window.location.href='/team/edit/?team_id=<%= result[i].team_id %>'">Edit</button>
            <form action="/team/delete/" style="display:inline;">
                <input type="hidden" name="team_id" id="team_id" value="<%= result[i].team_id %>" />
                <input type="submit" value="Delete"/>
            </form>
        </td>
        <td style="padding: 5px">
            <p><%= result[i].mf_name %> <%= result[i].ml_name %></p>
        </td>
    </tr>
    <% } %>
</table>

<br/><a href="/">Back To Homepage</a><br/>
<%- include("../includes/footer.ejs"); %>