<%- include("../includes/header.ejs", {title: team.team_name}); %>
<h1 style="color: midnightblue">Viewing Team </h1>
<ul>
    <br/>
    <li style="font-weight:bold">Team Name: <%= team.team_name %></li>
    <li>Home Color: <%= team.home_color %></li>
    <li style="font-weight:bold">Away Color: <%= team.away_color %></li>
    <li>Third Color: <%= team.third_color %></li>
    <li style="font-weight:bold">Stadium: <%= stadium.stadium_name %>, <%= stadium.address %></li>
    <li>Manager: <%= manager.first_name %>  <%= manager.last_name %></li>
</ul>

<a href="/team/all"><< back</a>

<%- include("../includes/footer.ejs"); %>