<%- include("../includes/header.ejs", {title: "Update " + team.team_name}); %>

<h1>Update <%= team.team_name%></h1>

<form action="/team/update" method="get">
    <input type="hidden" id="team_id" name="team_id" value="<%= team.team_id %>">
    Team Name: <input id="team_name" name="team_name" type="text" value="<%= team.team_name%>"/>
    <br />
    <br />
    Home Color: <input id="home_color" name="home_color" type="text" value="<%= team.home_color%>"/>
    <br/>
    <br/>
    Away Color: <input id="away_color" name="away_color" type="text" value="<%= team.away_color%>"/>
    <br />
    <br />
    Third Color: <input id="third_color" name="third_color" type="text" value="<%= team.third_color%>"/>
    <br />
    <br />

    Stadiums: <a href="/stadium/add">(If stadium not displayed, add it)</a><br/>
    <select id="stadium_id" name="stadium_id">
        <option value="<%= team.stadium_id%>">Original Stadium</option>
        <% for(var i=0; stadiums.length > i; i++ ) { %>
        <option value="<%= stadiums[i].stadium_id %>"><%= stadiums[i].stadium_name %></option>
        <% } %>

    </select>

    <br />
    <br />

    Manager: <a href="/manager/add">(If manager not displayed, add it)</a><br/>
    <select id="manager_id" name="manager_id">
        <option value="<%= team.manager_id%>">Original Manager</option>
        <% for(var i=0; managers.length > i; i++ ) { %>
        <option value="<%= managers[i].manager_id %>"><%= managers[i].first_name %> <%= managers[i].last_name %></option>
        <% } %>
    </select>

    <br />
    <br />

    <input type="submit" />
</form>

<br />
<br />

<a href="/team/all">BACK TO TEAM LIST</a>

<%- include("../includes/footer.ejs"); %>
