<%- include("../includes/header.ejs", {title:"List of Countries"}); %>

<h1 style="color: midnightblue">Countries</h1>

<% if(locals.was_successful) { %>
<div class="col-md-12">
    <div id="message" class="alert alert-success col-md-4">
        Country: <%= countryName %> was successfully registered. %>
    </div>
</div>
<% }%>

<% if(locals.edit_successful) { %>
<div class="col-md-12">
    <div id="message" class="alert alert-success col-md-4">
        Country: <%= countryName %> was successfully edited. %>
    </div>
</div>
<% }%>

<a href="/country/add">Add New Country</a><br/><br/>
<p><a href="/country/numPlayers">Click here to view the number of players from each country</a> </p>
<a href="/">Back To Homepage</a><br/>

<br/>

<table border="1">
    <tr><th style="padding:5px;background-color:indigo;color: ghostwhite">Country Name</th><th style="padding: 5px;background-color:indigo;color: ghostwhite">Actions</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td style="padding: 5px"><a href="http://www.google.com/search?q=<%= result[i].country_name %>+soccer" target="_blank"><%= result[i].country_name %></a></td>
        <td style="padding: 5px">
            <button onclick="event.preventDefault();window.location.href='/country/edit/?country_id=<%= result[i].country_id %>'">Edit</button>
            <form action="/country/delete/" style="display:inline;">
                <input type="hidden" name="country_id" id="country_id" value="<%= result[i].country_id %>" />
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
    <% } %>
</table>

<br/><a href="/">Back To Homepage</a>
<%- include("../includes/footer.ejs"); %>