<%- include("../includes/header.ejs", {title: "Update " + country.country_name}); %>

<h1>Update <%= country.country_name%></h1>

<form action="/country/update" method="get">
    <input type="hidden" id="country_id" name="country_id" value="<%= country.country_id %>">
    Country Name: <input id="country_name" name="country_name" type="text" value="<%= country.country_name%>"/>
    <br />
    <br />
    <input type="submit" />
</form>

<br />
<br />

<a href="/country/all">BACK TO COUNTRY LIST</a>

<%- include("../includes/footer.ejs"); %>