<%- include("../includes/header.ejs", {title:"Add New Country"}); %>
<h1>Add New Country</h1>
<a href="/country/all">Back to All Countries</a><br/><br/>

<form action="/country/insert" method="post">
    Country Name: <input id="country_name" name="country_name" type="text" />
    <br />
    <br />
    <input type="submit" />
</form>
<%- include("../includes/footer.ejs"); %>