<%- include("../includes/header.ejs", {title:"Country - Number of Players"}); %>

<h1 style="color: midnightblue">Country - Number of Players</h1>
<p style="color: red">* If a country is not displayed, they have 0 players!</p>
<a href="/country/all"><< Back</a><br/>

<table border="1">
    <tr><th style="padding:5px;background-color:indigo;color: ghostwhite">Country Name</th>
        <th style="padding:5px;background-color:indigo;color: ghostwhite"># Players</th>
    </tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td style="padding: 5px"><%= result[i].country_name %></td>
        <td style="padding: 5px"><p><%= result[i].num_players %></p></td>
    </tr>
    <% } %>
</table>

<br/><a href="/country/all"><< Back</a>
<%- include("../includes/footer.ejs"); %>