<%- include("../includes/header.ejs", {title: "Update " + stadium.stadium_name}); %>

<h1>Update <%= stadium.stadium_name%></h1>

<form action="/stadium/update" method="get">
    <input type="hidden" id="stadium_id" name="stadium_id" value="<%= stadium.stadium_id %>">
    Stadium Name: <input id="stadium_name" name="stadium_name" type="text" value="<%= stadium.stadium_name%>"/>
    <br />
    <br />
    Address: <input id="address" name="address" type="text" value="<%= stadium.address%>"/>
    <br/>
    <br/>
    <input type="submit" />
</form>

<br />
<br />

<a href="/stadium/all">BACK TO STADIUM LIST</a>

<%- include("../includes/footer.ejs"); %>