<%- include("../includes/header.ejs", {title: stadium[0].stadium_name}); %>
<h1 style="color: midnightblue">Viewing Stadium </h1>
<ul>
    <br/>
    <li style="font-weight:bold">Stadium Name: <%= stadium[0].stadium_name %></li>
    <li>Address: <%= stadium[0].address %></li>
    <li style="font-weight:bold">Teams:
        <ul>
            <% for(var i=0; stadium.length > i; i++ ) { %>
            <li><%= stadium[i].team_name %></li>
            <% } %>
        </ul>
    </li>
</ul>

<a href="/stadium/all"><< back</a>

<%- include("../includes/footer.ejs"); %>