<%- include("../includes/header.ejs", {title:"Add New Stadium"}); %>
<h1>Add New Stadium</h1>
<a href="/stadium/all">Back to All Stadiums</a><br/><br/>

<form action="/stadium/insert" method="post">
    Stadium Name: <input id="stadium_name" name="stadium_name" type="text" />
    <br />
    <br />
    Address: <input id="address" name="address" type="text" />
    <br />
    <br />
    <input type="submit" />
</form>
<%- include("../includes/footer.ejs"); %>