<%- include("../includes/header.ejs", {title:"Schedule/Games"}); %>

<h1 style="color: midnightblue">Schedule/Games</h1>

<% if(locals.was_successful) { %>
<div class="col-md-12">
    <div id="message" class="alert alert-success col-md-4">
        Game: <%= homeTeam %> V.S. <%= awayTeam %> was successfully registered. %>
    </div>
</div>
<% }%>

<% if(locals.edit_successful) { %>
<div class="col-md-12">
    <div id="message" class="alert alert-success col-md-4">
        Game: <%= homeTeam %> V.S. <%= awayTeam %> was successfully edited. %>
    </div>
</div>
<% }%>

<h3><a href="/game/add">Create Game</a></h3><br/>
<p><a href="/game/riggedGames">Click to view "biased" games</a></p>
<p><a href="/game/nogames">Click to view teams with no games yet</a></p>
<a href="/">Back To Homepage</a><br/>

<br/>

<table border="1">
    <tr>
        <th style="padding:5px;background-color:indigo;color: ghostwhite">Week #</th>
        <th style="padding:5px;background-color:indigo;color: ghostwhite">Match #</th>
        <th style="padding:5px;background-color:indigo;color: ghostwhite">Home Team</th>
        <th style="padding:5px;background-color:indigo;color: ghostwhite">Away Team</th>
        <th style="padding:5px;background-color:indigo;color: ghostwhite">Winner</th>
        <th style="padding:5px;background-color:indigo;color: ghostwhite">Home Score</th>
        <th style="padding:5px;background-color:indigo;color: ghostwhite">Away Score</th>
        <th style="padding:5px;background-color:indigo;color: ghostwhite">Referee</th>
        <th style="padding:5px;background-color:indigo;color: ghostwhite">Actions</th>
    </tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td style="padding: 5px"><%= result[i].week %></td>
        <td style="padding: 5px"><%= result[i].match_id %></td>
        <td style="padding: 5px"><%= result[i].HomeTeam %></td>
        <td style="padding: 5px"><%= result[i].AwayTeam %></td>
        <td style="padding: 5px"><%= result[i].winner %></td>
        <td style="padding: 5px"><%= result[i].scoreH %></td>
        <td style="padding: 5px"><%= result[i].scoreA %></td>
        <td style="padding: 5px"><%= result[i].first_name %> <%= result[i].last_name %></td>
        <td style="padding: 5px">
            <button onclick="event.preventDefault();window.location.href='/game/edit/?match_id=<%= result[i].match_id %>'">Edit</button>
            <form action="/game/delete/" style="display:inline;">
                <input type="hidden" name="match_id" id="match_id" value="<%= result[i].match_id %>" />
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
    <% } %>
</table>

<br/><a href="/">Back To Homepage</a>
<%- include("../includes/footer.ejs"); %>