<%- include("../includes/header.ejs", {title: "Update " + game.HomeTeam + "v.s." + game.AwayTeam}); %>

<h1>Update <%= game.HomeTeam%> VS <%= game.AwayTeam%></h1>

<form action="/game/update" method="get">
    <input type="hidden" id="match_id" name="match_id" value="<%= game.match_id %>">
    Winner:
    <select id="winner" name="winner">
        <option value="H">Home</option>
        <option value="A">Away</option>
        <option value="D">Draw</option>
    </select>
    <br />
    <br />
    Home Score:
    <input id="scoreH" name="scoreH" type="number" min="0" value="<%= game.scoreH %>">
    <br />
    <br />
    Away Score:
    <input id="scoreA" name="scoreA" type="number" min="0" value="<%= game.scoreA %>">
    <br />
    <br />
    <input type="submit" />
</form>

<br />
<br />

<a href="/game/all">BACK TO GAME LIST</a>

<%- include("../includes/footer.ejs"); %>