<%- include("../includes/header.ejs", {title:"Add New Game"}); %>
<h1>Add New Game</h1>
<a href="/game/all">Back to All Games</a><br/><br/>

<p>* after game is played, edit the scores and winner.</p>


<form action="/game/insert" method="post">
    Home Team:
    <select id="team_id" name="home_team_id">
        <% for(var i=0; teams.length > i; i++ ) { %>
        <option value="<%= teams[i].team_id %>"><%= teams[i].team_name %></option>
        <% } %>
    </select>

    <br/>
    <br/>

    Away Team:
    <select id="team_id" name="away_team_id">
        <% for(var i=0; teams.length > i; i++ ) { %>
        <option value="<%= teams[i].team_id %>"><%= teams[i].team_name %></option>
        <% } %>
    </select>

    <br/>
    <br/>

    Ref:
    <select id="ref_id" name="ref_id">
        <% for(var i=0; refs.length > i; i++ ) { %>
        <option value="<%= refs[i].ref_id %>"><%= refs[i].first_name %> <%= refs[i].last_name %></option>
        <% } %>
    </select>

    <br/>
    <br/>

    Week: <input id="week" name="week" type="number">

    <br/>
    <br/>

    <input type="submit" />
</form>
<%- include("../includes/footer.ejs"); %>