<%- include("../includes/header.ejs", {title:"Rigged Games"}); %>

<h1 style="color: midnightblue">Rigged Games</h1>
<p>The following is a list of possible rigged games, that is the referee helped the home team because he is
from the same country as the home team's manager.</p>
<p style="color: red">* Games may be replayed</p>
<h2>Games:</h2>
<table border="1">
    <tr>
        <th style="padding:5px;background-color:indigo;color: ghostwhite">Match #</th>
        <th style="padding:5px;background-color:indigo;color: ghostwhite">Refere Name</th>
        <th style="padding:5px;background-color:indigo;color: ghostwhite">Manager Name</th>
        <th style="padding:5px;background-color:indigo;color: ghostwhite">Both From</th>
        <th style="padding:5px;background-color:indigo;color: ghostwhite">Team Name</th>
        <th style="padding:5px;background-color:indigo;color: ghostwhite">Winner</th>
        <th style="padding:5px;background-color:indigo;color: ghostwhite">Home Score</th>
        <th style="padding:5px;background-color:indigo;color: ghostwhite">Away Score</th>
        <th style="padding:5px;background-color:indigo;color: ghostwhite">Actions</th>
    </tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td style="padding: 5px"><%= result[i].match_id %></td>
        <td style="padding: 5px"><%= result[i].ref_firstN %> <%= result[i].ref_lastN %></td>
        <td style="padding: 5px"><%= result[i].first_name %> <%= result[i].last_name %></td>
        <td style="padding: 5px"><%= result[i].country_name %></td>
        <td style="padding: 5px"><%= result[i].team_name %></td>
        <td style="padding: 5px"><%= result[i].result %></td>
        <td style="padding: 5px"><%= result[i].HomeScore %></td>
        <td style="padding: 5px"><%= result[i].AwayScore %></td>
        <td style="padding: 5px">
            <button onclick="event.preventDefault();window.location.href='/game/edit/?match_id=<%= result[i].match_id %>'">Edit</button>
        </td>
    </tr>
    <% } %>
</table>


<br/><a href="/game/all">Back To All Games</a>
<%- include("../includes/footer.ejs"); %>