<%- include("../includes/header.ejs", {title:"List of Managers/Coaches"}); %>

<h1 style="color: midnightblue">Managers/Coaches</h1>

<% if(locals.was_successful) { %>
<div class="col-md-12">
    <div id="message" class="alert alert-success col-md-4">
        Manager: <%= managerF %> <%= managerL %> was successfully registered. %>
    </div>
</div>
<% }%>

<% if(locals.edit_successful) { %>
<div class="col-md-12">
    <div id="message" class="alert alert-success col-md-4">
        Manager: <%= managerF %> <%= managerL %> was successfully edited. %>
    </div>
</div>
<% }%>

<a href="/manager/add">Add New Manager</a><br/>
<a href="/">Back To Homepage</a><br/>

<br/>
<p>Click on a manager to view more about them!</p>

<table border="1">
    <tr><th style="padding:5px;background-color:indigo;color: ghostwhite">Full Manager Name</th><th style="padding: 5px;background-color:indigo;color: ghostwhite">Actions</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td style="padding: 5px"><a href="/manager/?manager_id=<%= result[i].manager_id %>"><%= result[i].first_name %> <%= result[i].last_name %></a></td>
        <td style="padding: 5px">
            <button onclick="event.preventDefault();window.location.href='/manager/edit/?manager_id=<%= result[i].manager_id %>'">Edit</button>
            <form action="/manager/delete/" style="display:inline;">
                <input type="hidden" name="manager_id" id="manager_id" value="<%= result[i].manager_id %>" />
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
    <% } %>
</table>

<br/><a href="/">Back To Homepage</a>
<%- include("../includes/footer.ejs"); %>