<%- include("../includes/header.ejs", {title:"About"}); %>
<h1 style="color: midnightblue">About World Soccer League! <img src="images/954_-fc_barcelona-primary-.gif" width="75"/>
    <img src="images/643_-real_madrid-primary-.gif" width="80"/>
    <img src="images/1444__atletico_madrid-primary-2017.png" width="70"/>
    <img src="images/476_-paris_saint_germain-primary-.gif" width="75"/>
    <img src="images/4488__juventus-primary-2017.png" width="45"/>
    <img src="images/376_-bayern_munich-primary-.gif" width="80"/>
</h1>
<img src="images/Ibrox_Stadium_Panorama_2012.jpg" alt="Ball on field" width="1400" height="250" style="border: groove;border-color: midnightblue;border-width: thick"/>
<a href="images/ER_Diagram.png" style="font-size: larger">My ER Diagram </a>|<a href="images/Relational_Schema.png" style="font-size: larger"> My Relational Schema</a>
<br/>
<h3><u>Our Goooooooal!:</u><h6>(no pun intended)</h6></h3>
<p>At World Soccer League, we are committed to create a stress free, user friendly application that allows the world
to come together and enjoy soccer (or football) by hosting tournaments, leagues, and championships. Users can create
teams, add players and managers/coaches to those teams, register refs for games, and most importantly, create matches
and report scores!
Updated daily, World Soccer League is perfect for any soccer community interested in slowly transforming into an actual
professional league!
</p>
<p>Created in 2017 by <a href="https://www.instagram.com/juanm21_/" target="_blank">Juan Martinez</a>, WSL will be the future of soccer
scheduling, competition, and seasons for many leagues (both amateur and professional). </p>
<p>Juan grew up in the tiny town of <a href="https://goo.gl/maps/uhUNM2kVqqt" target="_blank">Calistoga, California</a>. As a youngster,
his dad introduced him to <a href="https://en.wikipedia.org/wiki/The_Beautiful_Game" target="_blank">"the beautiful game"</a> aka soccer. As time
went by, he wondered if it was possible to make many soccer organization's lives easier. At the young age of 19, he
was able to develop an application that did just the job.</p>
<p>He followed 3 rules to make his dream come true:</p>
<ol>
    <li>Hard Work</li>
    <li>Dedication</li>
    <li>Commitment</li>
</ol>
<p>Now Juan will continue to work, improving his app and creating new ones, and learn new ideas to further increase the
satisfaction from the users and unite the world to be a soccer loving planet.
<br/>To contact Juan for comments/suggestions, email him at: <a href="mailto:juanm.jm49@gmail.com">juanm.jm49@gmail.com</a></p>

<h4 style="color: indigo;"><img src="images/Martinez FS Logo 2017.png" width="125"> © 2017</h4><p><a href="/">Back To Homepage</a></p>

<%- include("../includes/footer.ejs"); %>
