<%- include("../includes/header.ejs", {title:"Pick Stat and Team"}); %>

<h1 style="color: midnightblue">Pick Stat and Team</h1>
<p>Select a stat and team to view players that are better than the top player from that team, in the stat selected.</p>
<br/>

<form action="/player/helpful" method="get">
    Team: (Only teams with at least 1 player) <br/>
    <select id="team_id" name="team_id">
        <% for(var i=0; teams.length > i; i++ ) { %>
        <option value="<%= teams[i].team_id %>"><%= teams[i].Team %></option>
        <% } %>
    </select>
    <br/>
    <br/>

    Stat:
    <select id="stat" name="stat">
        <option value=1>Shooting</option>
        <option value=2>Passing</option>
        <option value=3>Pace</option>
        <option value=4>Defending</option>
        <option value=5>Physical</option>
        <option value=6>Dribbling</option>
    </select>
    <br />
    <br />
    <input type="submit" />
    <br />
    <br />

</form>

<br/><a href="/player/all">Back To All Players</a>
<%- include("../includes/footer.ejs"); %>