<%- include("../includes/header.ejs", {title:"Register Player"}); %>
<h1 style="color: midnightblue">Register New Player <img src="/images/player/130715105120-steven-gerrard-t2-single-image-cut.jpg"
                                                         width="225" height="150" style="border: groove;border-color:
                                                         midnightblue;border-width: thick"></h1>
<a href="/player/all">Back to All Players</a><br/><br/>
<form action="/player/insert" method="post">
    First Name: <input id="first_name" name="first_name" type="text" />
    <br />
    <br/>
    Last Name: <input id="last_name" name="last_name" type="text" />
    <br />
    <br/>
    Age: <input id="age" name="age" type="number" min="1"/>
    <br />
    <br />
    Height (cm): <input id="height" name="height" type="number" min="1"/>
    <br />
    <br />
    Position: <br/>
    <select id="position" name="position">
        <option value="Striker">Striker</option>
        <option value="Left Wing">Left Wing</option>
        <option value="Right Wing">Right Wing</option>
        <option value="Center Forward">Center Forward</option>
        <option value="Left Forward">Left Forward</option>
        <option value="Right Forward">Right Forward</option>
        <option value="Center Attacking Midfield">Center Attacking Midfield</option>
        <option value="Center Midfield">Center Midfield</option>
        <option value="Left Midfield">Left Midfield</option>
        <option value="Right Midfield">Right Midfield</option>
        <option value="Center Defensive Midfield">Center Defensive Midfield</option>
        <option value="Left Wing Back">Left Wing Back</option>
        <option value="Center Back">Center Back</option>
        <option value="Left Back">Left Back</option>
        <option value="Right Back">Right Back</option>
        <option value="Right Wing Back">Right Wing Back</option>
        <option value="Goalkeeper">Goalkeeper</option>
    </select>
    <br />
    <br />
    Level: <br/>
    <select id="level_" name="level_">
        <option value="Gold">Gold</option>
        <option value="Silver">Silver</option>
        <option value="Bronze">Bronze</option>
    </select>
    <br />
    <br />
    Skill Rating: <input id="skills" name="skills" type="number" min="1" max="5"/>
    <br />
    <br />
    Shooting: <input id="shooting" name="shooting" type="number" min="1" max="99"/>
    <br />
    <br />
    Passing: <input id="passing" name="passing" type="number" min="1" max="99"/>
    <br />
    <br />
    Pace: <input id="pace" name="pace" type="number" min="1" max="99"/>
    <br />
    <br />
    Defending: <input id="defending" name="defending" type="number" min="1" max="99"/>
    <br />
    <br />
    Physical: <input id="physical" name="physical" type="number" min="1" max="99"/>
    <br />
    <br />
    Dribbling: <input id="dribbling" name="dribbling" type="number" min="1" max="99"/>
    <br />
    <br />

    Country: (If country not displayed, add it) <br/>
    <select id="country_id" name="country_id">
        <% for(var i=0; countries.length > i; i++ ) { %>
        <option value="<%= countries[i].country_id %>"><%= countries[i].country_name %></option>
        <% } %>

    </select>

    <br />
    <br />

    Team: (If team not displayed, add it) <br/>
    <select id="team_id" name="team_id">
        <% for(var i=0; teams.length > i; i++ ) { %>
        <option value="<%= teams[i].team_id %>"><%= teams[i].team_name %></option>
        <% } %>
    </select>

    <br />
    <br />

    <input type="submit" />

    <br />
    <br />
</form>

<a href="/player/all">Back to All Players</a>

<%- include("../includes/footer.ejs"); %>