<%- include("../includes/header.ejs", {title:"List of Players"}); %>

<h1 style="color: midnightblue">Players <img src="/images/player/uefa-champions-league-team-of-the-year-graphic-poster.jpg" width="900"
                                             height="200" style="border: groove;border-color: midnightblue;border-width: thick"></h1>

<% if(locals.was_successful) { %>
<div class="col-md-12">
    <div id="message" class="alert alert-success col-md-4">
        Player: <%= playerF %> <%= playerL %> was successfully registered. %>
    </div>
</div>
<% }%>

<% if(locals.edit_successful) { %>
<div class="col-md-12">
    <div id="message" class="alert alert-success col-md-4">
        Player: <%= playerF %> <%= playerL %> was successfully edited. %>
    </div>
</div>
<% }%>

<h3><a href="/player/add">Register Player</a></h3><br/>
<p><a href="/player/helpWin">Click here to view players that can help win your next game</a></p>
<a href="/">Back To Homepage</a><br/>

<br/>

<p>Click on a player to view more about them!</p>

<table border="1">
    <tr><th style="padding:5px;background-color:indigo;color: ghostwhite">Full Player Name</th><th style="padding: 5px;background-color:indigo;color: ghostwhite">Actions</th>
        <th style="padding:5px;background-color:indigo;color: ghostwhite">In Team?</th>
    </tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td style="padding: 5px"><a href="/player/?player_id=<%= result[i].player_id %>"><%= result[i].first_name %> <%= result[i].last_name %></a></td>
        <td style="padding: 5px">
            <button onclick="event.preventDefault();window.location.href='/player/edit/?player_id=<%= result[i].player_id %>'">Edit</button>
            <form action="/player/delete/" style="display:inline;">
                <input type="hidden" name="player_id" id="player_id" value="<%= result[i].player_id %>" />
                <input type="submit" value="Delete"/>
            </form>
        </td>
        <td style="padding: 5px">
            <p><%= result[i].team_name %></p>
        </td>
    </tr>
    <% } %>
</table>

<br/><a href="/">Back To Homepage</a>
<%- include("../includes/footer.ejs"); %>