<%- include("../includes/header.ejs", {title: player.first_name + ' ' + player.last_name}); %>
<h1 style="color: midnightblue">Viewing Player </h1>
<img src="/images/player/player_default.jpeg"
     style="border: groove;border-color: midnightblue;border-width: thick">
<ul>
    <br/>
    <li style="font-weight:bold">First Name: <%= player.first_name %></li>
    <li>Last Name: <%= player.last_name %></li>
    <li style="font-weight:bold">Age: <%= player.age %></li>
    <li>Height: <%= player.height %></li>
    <li style="font-weight:bold">Overall Rating: <%= player.rating %></li>
    <li>Position: <%= player.position %></li>
    <li style="font-weight:bold">Level: <%= player.level_ %></li>
    <li>Skill Rating: <%= player.skills %></li>
    <li style="font-weight:bold">Shooting: <%= player.shooting %></li>
    <li>Passing: <%= player.passing %></li>
    <li style="font-weight:bold">Pace: <%= player.pace %></li>
    <li>Defending: <%= player.defending %></li>
    <li style="font-weight:bold">Physical: <%= player.physical %></li>
    <li>Dribbling: <%= player.dribbling %></li>
    <li style="font-weight:bold">Plays For: <%= team.team_name %></li>
    <li>Is From: <%= country.country_name %></li>
</ul>

<a href="/player/all"><< back</a>

<%- include("../includes/footer.ejs"); %>