<%- include("../includes/header.ejs", {title:"List of Players"}); %>

<h1 style="color: midnightblue">Players</h1>
<p style="color: red">* These players would have to be bought and transferred to your team!</p>

<p>Click on a player to view more about them!</p>

<table border="1">
    <tr><th style="padding:5px;background-color:indigo;color: ghostwhite">Full Player Name</th>
        <th style="padding:5px;background-color:indigo;color: ghostwhite">In Team?</th>
        <th style="padding:5px;background-color:indigo;color: ghostwhite"><%= stat %></th>
    </tr>
    <% for(var i=0; players.length > i; i++ ) { %>
    <tr>
        <td style="padding: 5px"><a href="/player/?player_id=<%= players[i].player_id %>"><%= players[i].first_name %> <%= players[i].last_name %></a></td>
        <td style="padding: 5px"><p><%= players[i].team_name %></p></td>
        <td style="padding: 5px"><p><%= players[i].stat %></p></td>
    </tr>
    <% } %>
</table>

<br/><a href="/player/helpWin"><< Back</a>
<%- include("../includes/footer.ejs"); %>